body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center;
  width: 90%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advert {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #ffeb3b;
  color: #d32f2f;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-weight: bold;
}

.advert-top {
  width: 100%; /* 确保顶部广告宽度与图片一致 */
  margin-bottom: 20px; /* 与图片之间的距离 */
}

img {
  max-width: 600px;
  border: 5px solid #333;
  border-radius: 10px;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .advert, .advert-top {
    font-size: 18px;
  }
  
  .image-container {
    flex-direction: column;
  }
  
  img {
    max-width: 90%;
    margin: 20px 0;
  }
  
  .advert {
    order: 3; /* 确保移动设备上的广告文本排在图片下方 */
  }
}